.header {
  background-color: var(--primary);
  padding: 0;
  align-items: center;
}

.header span[class^='ant-page-header-heading'] {
  display: flex;
  align-items: center;
  color: #fff;
}

.input {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 10px;
  background: #f6f6f6;
  margin: 14px 0;
  color: #888888;
}

.input input {
  background: #f6f6f6;
}

.switcher {
  font-size: 18px;
  color: #7e7e7e;
  margin-bottom: 10px;
}

.thead th {
  background-color: #7e83f4!important;
  color: white!important;
  text-align: center!important;
}

.divider {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 20px !important;
}

.switcher button {
  border: none;
  background: none;
  cursor: pointer;
}

.switcher button:focus {
  outline: none;
  box-shadow: none;
}

.active {
  font-weight: bold;
  color: black;
}

.header span[class^='ant-page-header-heading-title'] {
  font-weight: 300;
  font-size: 17px;
}

.navItem {
  border: none;
  background-color: transparent;
  color: #fff;
  opacity: 0.6;
  text-transform: capitalize;
  padding: 0 6px;
}

.navItem[data-is-active='true'] {
  opacity: 1;
  font-weight: bolder;
}

.navItem:hover {
  color: #fff;
  opacity: 1;
}

.orders {
  text-transform: capitalize;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
}

.orders .ant-table-thead th {
  background-color: red;
}

.container {
  margin: 0;
}

.container table {
  padding: 0 24px;
}

.container th {
  color: var(--primary) !important;
  padding: 5px !important;
  font-weight: 500 !important;
  background: transparent !important;
  border-bottom-color: #abd1e1 !important;
  user-select: none;
  cursor: default;
}

.even {
  background-color: #f6f6f6;
}

.action {
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #dddddd;
  background-color: #ffffff;
  width: 80px;
  margin-right: 10px;
  color: #5C61DA;
}

.status {
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #dddddd;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  color: #5C61DA;
}

.modal {
  border-radius: 16px;
}

.modal .ant-modal-content {
  border-radius: 16px!important;
}

.spinContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  margin-right: 10px;
}

.modal .ant-modal-header {
  border-radius: 16px!important;
}

.modal .ant-modal-title {
  font-weight: bold !important;
}

.modalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.records {
  display: flex;
  flex-direction: column;
  border: 1px solid #E1E1E1;
  margin-top: 20px;
}

.record {
  display: flex;
  flex: row;
  height: 42px;
}

.record:nth-child(odd) {
  background-color: #F6F6F6;
}

.modalBody h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
  text-transform: capitalize;
}

.status svg {
  position: relative;
  right: 6px;
  top: 1px;
}

.item {
  display: center;
  justify-content: center;
  align-items: center;
}

.check {
  margin-right: 4px;
  color: #5C61DA;
}

.spin {
  margin-left: 4px;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  border-right: 1px solid #e7e7e7;
}

.chain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-right: 1px solid #e7e7e7;
}

.chain i {
  margin-left: 4px;
}


.hash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.hash a {
  color: #5C61DA;
  text-decoration: underline;
}

.center {
  display: flex;
  flex-direction: row;
  color: #5C61DA;
  justify-content: center;
}

.td {
  text-align: center;
  font-size: 12px;
}

.unit {
  color: rgb(125, 125, 125);
  text-transform: none;
}

.td td {
  padding: 14px!important;
}

.container td {
  padding: 5px !important;
  height: 53px !important;
  box-sizing: border-box !important;
}

.bold {
  font-weight: bold;
}

.container td button {
  width: 100%;
}

.status {
  color: #000;
  text-decoration: underline;
}

.faucet {
  color: #5C61DA;
  text-decoration: underline;
}

.status:hover {
  color: #000;
  text-decoration: underline;
  font-weight: bolder;
}

a.status[data-status='aborted'],
a.status[data-status='completed'],
a.status[data-status='claimed'] {
  color: #888;
}
