.container {
  --primary: #517788;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  background-color: var(--primary);
  padding: 10px 24px;
  align-items: center;
}

.header span[class^='ant-page-header-heading'] {
  display: flex;
  align-items: center;
  color: #fff;
}

.header span[class^='ant-page-header-heading-title'] {
  font-weight: 300;
  font-size: 17px;
}

.navItem {
  border: none;
  background-color: transparent;
  color: #fff;
  opacity: 0.6;
  text-transform: capitalize;
  padding: 0 6px;
}

.navItem[data-is-active='true'] {
  opacity: 1;
  font-weight: bolder;
}

.navItem:hover {
  color: #fff;
  opacity: 1;
}

.orders {
  text-transform: capitalize;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border: 1px solid #abd1e1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.container {
  margin-left: 20px;
}

.container table {
  padding: 0 24px;
}

.container th {
  color: var(--primary) !important;
  padding: 5px !important;
  font-weight: 500 !important;
  background: transparent !important;
  border-bottom-color: #abd1e1 !important;
  user-select: none;
  cursor: default;
}

.container td {
  padding: 5px !important;
  height: 53px !important;
  box-sizing: border-box !important;
}

.container td button {
  width: 100%;
}

.status {
  color: #000;
  text-decoration: underline;
}

.status:hover {
  color: #000;
  text-decoration: underline;
  font-weight: bolder;
}

a.status[data-status='aborted'],
a.status[data-status='completed'] {
  color: #888;
}
